<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sports World</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- OWL Car -->
    <link rel="stylesheet" href="/public/Addproducts/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/public/Addproducts/css/owl.theme.default.min.css">
    <!-- Showmore css -->
    <link rel="stylesheet" href="/public/Addproducts/css/showMoreItems-theme.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/public/Addproducts/css/bootstrap.min.css">
    <!-- Theme CSS -->
    <link rel="stylesheet" href="/public/Addproducts/css/style.css">
</head>

<body>


    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-light">
        <button class="navbar-toggler ml-auto mb-2 bg-light" type="button" data-toggle="collapse" data-target="#mynav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynav">
            <div class="container-fluid">
                <div class="row">
                    <!-- Sidebar -->
                    <div class="col-lg-2 col-md-4 fixed-top sidebar">
                        <a href="index.html"
                            class="navbar-brand text-light d-block mx-auto text-center py-3 mb-4 bottom-border"><img
                                src="/public/Addproducts/img/logo.png" class="img-fluid" width="200px" alt="logo"></a>
                        <div class="bottom-border pb-3">
                            <img src="/public/Addproducts/img/profile.jpg" alt="" width="60" class="rounded-circle">
                            <a href="#" class="text-light">Mostakimul</a>
                        </div>
                        <ul class="navbar-nav flex-column mt-5">
                            <li class="nav-item">
                                <a href="dashboard.html" class="nav-link text-light p-3 mb-2 sidebar-link">
                                    <i class="fa fa-home text-light fa-lg mr-3"></i>Dashboard
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="allproduct.html" class="nav-link text-light p-3 mb-2 sidebar-link">
                                    <i class="fa fa-database text-light fa-lg mr-3"></i>All Product
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="addproduct.html" class="nav-link text-light p-3 mb-2 sidebar-link current">
                                    <i class="fa fa-plus-circle text-light fa-lg mr-3"></i>Add Product
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="editproduct.html" class="nav-link text-light p-3 mb-2 sidebar-link">
                                    <i class="fa fa-pencil-square-o text-light fa-lg mr-3"></i>Edit Product
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="removeproduct.html" class="nav-link text-light p-3 mb-2 sidebar-link">
                                    <i class="fa fa-trash text-light fa-lg mr-3"></i>Remove Product
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link text-light p-3 mb-2 sidebar-link">
                                    <i class="fa fa-cogs text-light fa-lg mr-3"></i>Settings
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!-- Top Nav -->
                    <div class="col-lg-10 col-md-8 ml-auto fixed-top cstm-header align-items-center top-nav">
                        <div class="row">
                            <div class="col-lg-4 col-md-8 d-flex justify-content-center align-items-center pl-5">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link mx-2 text-light" href="index.html">Home <span
                                                class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link mx-2 text-light" href="cart.html">Order</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link mx-2 text-light" href="dashboard.html">Dashboard</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6 d-none d-lg-block">
                                <form class="form-inline">
                                    <input class="form-control mx-2 my-2" type="search" placeholder="Search"
                                        aria-label="Search">
                                    <button class="btn btn-light" type="submit"><i class="fa fa-search"
                                            aria-hidden="true"></i>
                                    </button>
                                </form>

                            </div>
                            <div class="col-md-4 col-lg-2 mt-2 justify-content-end align-items-center">
                                <button class="btn btn-outline-light mx-2" data-toggle="modal" data-target="#logout"><i
                                        class="fa fa-sign-out" aria-hidden="true"></i>
                                    Logout</button>
                            </div>
                        </div>
                    </div>
                    <!-- Top Nav Ends -->
                </div>
            </div>
        </div>

    </nav>

    <!-- Logout Modal -->
    <div class="modal fade" id="logout">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-dark text-light">
                    <h5 class="modal-title">Do You Really Want to Leave?</h5>
                    <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
                </div>
                <!-- <div class="modal-body">
                    <h5>Press Logout to leave</h5>
                </div> -->
                <div class="modal-footer bg-dark">
                    <button type="button" class="btn btn-light">Stay Here</button>
                    <button type="button" class="btn btn-danger">Logout</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Logout Modal Ends -->

    <!-- Add Product -->
    <section>
        <div class="container-fluid">
            <div class="row ">
                <div class="col-lg-10 col-md-8 ml-auto">
                    <div class="row align-items-center pt-md-5 mt-md-5 mb-5">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-title text-center mt-3">
                                    <h3>Add Product</h3>
                                </div>
                                <div class="card-body">
                                    <form action="">
                                        <div class="form-group">
                                            <label for="productname">Product Name:</label>
                                            <input type="text" class="form-control" id="productname"
                                                placeholder="Enter Product Name">
                                            <div class="invalid-feedback">Product Name Can't Be Empty</div>
                                        </div>
                                        <div class="form-group">
                                            <label for="productid">Product Id:</label>
                                            <input type="text" class="form-control" id="productid"
                                                placeholder="Enter Product Id">
                                            <div class="invalid-feedback">Product ID Can't Be Empty</div>
                                        </div>
                                        <div class="form-group">
                                            <label for="productprice">Product Price:</label>
                                            <input type="text" class="form-control" id="productprice"
                                                placeholder="Enter Product Price">
                                            <div class="invalid-feedback">Product Price Can't Be Empty</div>

                                        </div>
                                        <p>Product Image:</p>
                                        <div class="custom-file">

                                            <input type="file" class="custom-file-input" id="productimage" required>
                                            <label class="custom-file-label" for="productimage">Choose
                                                file...</label>
                                            <div class="invalid-feedback">File Format Not Supported</div>
                                        </div>
                                        <button class="btn btn-dark mt-5 mx-auto d-block" type="submit">Add
                                            Product</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <!-- Bootstrap js -->
    <script type="text/javascript" src="/public/Addproducts/js/jquery.js"></script>
    <script type="text/javascript" src="/public/Addproducts/js/popper.js"></script>
    <!-- OWL Car -->
    <script src="j/public/Addproducts/s/owl.carousel.min.js"></script>
    <!-- Show More js -->
    <script src="/public/Addproducts/js/showMoreItems.min.js"></script>


    <script type="text/javascript" src="/public/Addproducts/js/bootstrap.min.js"></script>
    <!-- Theme js -->
    <script type="text/javascript" src="/public/Addproducts/js/main.js"></script>
</body>

</html>